$dark: #282942;
$dark_two: #2f3041;
$blue_blue: #3740c7;
$blue_two: #363fc6;
$blue_purple: #3840c7;

$dark_indigo: #0b0d32;
$slate: #4b4d66;
$pale_grey: #fafaff;
$white: #fff;

$charcoal_grey: #353a42;
$battleship_grey: #737485;
