.section-integrate {
  margin-top: -175px;
  background-color: $blue_purple;
  border-radius: 4px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  .integrate-title {
    margin-bottom: 16px;
    text-align: center;
  }

  p.par {
    text-align: center;
    color: $white;
    margin-bottom: 32px;
  }

  .btn-wrapper {
    text-align: center;
  }

  &::before {
    content: "";
    background-image: url('/images/integrate-left.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 225px;
  }

  &::after {
    content: "";
    background-image: url('/images/integrate-right.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 225px;
  }
}

@media(max-width: 1200px) {
  .section-integrate {
    &::before {
      width: 170px;
      background-position: top right;
      z-index: 0;
    }
    &::after {
      width: 170px;
      background-position: top left;
      z-index: 0;
    }

    .integrate-title,
    p.par,
    .btn-wrapper {
      z-index: 1;
      position: relative;
    }
  }
}

@media(max-width: 991px) {
  .container-full {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .section-integrate {
    border-radius: 0;
  }
}

@media(max-width: 767px) {
  .integrate-title {
    max-width: 296px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-integrate {
    padding-top: 32px;
    padding-bottom: 32px;
    p.par {
      max-width: 246px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
    }

    &::before {
      background-image: url('/images/integrate-left-mobile.svg');
      width: 57px;
      background-position: top;
    }
    &::after {
      background-image: url('/images/integrate-right-mobile.svg');
      width: 57px;
      background-position: top;
    }
  }
}
